.Modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .Modal__card{
    position: fixed;
    top: 30px;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  
  .Modal__header {
    background: #4f005f;
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
  }
  .Modal__content {
    height: 20vh;
  }
  