.subreddits-page{
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;

    @media screen and (max-width: 1218px) {
        grid: auto-flow / 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 990px) {
        grid: auto-flow / 1fr 1fr 1fr;
    }
    @media screen and (max-width: 768px) {
        grid: auto-flow / 1fr 1fr ;
    
    }


    .subreddit-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        @media screen and (max-width: 768px) {
           padding: 10px;
        
        }
       
        &.subreddit-wrap{
          
            .subreddit-item{
                width: 180px;
                height: 120px;
                padding: 10px;
                background-color: #ffffff;
                border: 1px solid rgba(0,0,0, 0.6);
                border-radius: 10px;
                box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 20%);
                display: flex;
                flex-direction: column;
                align-items: center;
               cursor: pointer;
               
                a{
                    text-decoration: none;
                    color: inherit;
                    margin-top: 10px;
                }

                p{
                    padding-top: 10px;
                    color: #797878;
                    line-height: 1.4;
                }

               
            }
        }
   }
}    

